<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.twinvaves.darshan.darshantestproject">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        tools:replace="icon"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme">
        <activity
            android:name=".TwoPlayerActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OnePlayerActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FirstScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Categories"
            android:label="@string/title_activity_categories"
            android:screenOrientation="portrait"
            android:theme="@style/customStyle" />
        <activity
            android:name=".OptionsActivity"
            android:label="@string/title_activity_options"
            android:screenOrientation="portrait"
            android:theme="@style/customSettingsStyle" />
        <activity
            android:name=".StatisticsActivity"
            android:label="@string/title_activity_statistics"
            android:screenOrientation="portrait"
            android:theme="@style/customBlueStyle" />
        <activity
            android:name=".SelectBackGroundActivity"
            android:label="@string/title_activity_select_back_ground"
            android:screenOrientation="portrait"
            android:theme="@style/customStyle" />
        <activity
            android:name=".SplashScreenActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <uses-permission android:name="android.permission.INTERNET" />
        <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    </application>

</manifest>
